* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 62.5%;
}
body > div {
    height: auto;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 55px;
    position: relative;
}
.main_menu {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
}
.main_menu > span {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.main_menu__title {
    text-transform: uppercase;
    font-size: 1.8em;
    color: #dbdbdb;
    padding-bottom: 40px;
}
.main_menu__nav {
    text-transform: uppercase;
    font-size: 1.4em;
    color: #dbdbdb;
    padding-bottom: 20px;
}

/* header */
.header {
    position: fixed;
    font-size: 2em;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0 15px 40px;
    -webkit-box-shadow: 0 -12px 27px 10px #5a5a5a;
    -moz-box-shadow: 0 -12px 27px 10px #5a5a5a;
    box-shadow: 0 -12px 27px 10px #5a5a5a;
}